.main {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
  /* align-items: center; */
}

.nftContainer {
  min-width: 300px;
  /* width: 100%; */
  max-width: 300px;
  max-height: 300px;
  border-radius: 1rem;
  overflow: hidden;
}

.nftContainer .nft {
  width: 100%;
  /* object-fit: contain; */
}


.currentData {
  /* height: 300px; */
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.currentData .header h1 {
  font-size: 5rem;
  font-weight: 800;
  transition: 1s;
}

.ownerData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id {
  color: #a1a5b0;
  font-weight: normal;
}