.main{
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
  /* align-items: center; */
}
.nftContainer{
  width: 300px;
  border-radius: 1rem;
  overflow: hidden;
}
.nftContainer .nft{
  width: 100%;
}
.currentData{
  /* height: 300px; */
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.ownerData{
  display: flex;
  justify-content: space-between;
  align-items: center;
}