.ownerContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.profilePhotoContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profilePhotoContainer .profilePhoto {
  width: 100%;
}

.accountNumber {
  color: var(--sec-color);
  font-weight: 600;
}

.username {
  color: #00ebfe;
}


@media (max-width : 978px) {
  .ownerContainer {
    gap: 0.5rem;
    margin: 0 0.5rem 0 0;
  }

  .accountNumber {
    font-size: 12px;
  }
}