.socialMediaContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.socialMedia {
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #1c1c1e;
  transition: 0.3s ease-in-out;
}

.socialMedia:hover {
  opacity: 0.7;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia img {
  width: 65%;
}