.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: #fff;
}

.punkLogo{
  width: 200px;
  height: 70px;
}
.searchBar{
  background-color: #1c1c1e;
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 2rem;
  height: 50px;
}
.searchIconContainer{
  margin: 1rem;
}
.searchInput{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #eee;
  font-size: 1rem;
}