.headerItems {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  list-style: none;
  color: var(--sec-color);
}

.headerItems li {
  cursor: pointer;
}


@media (max-width : 978px) {
  .headerItems {
    gap: 0.5rem
  }
}